VITE_PAYMENT_PROVIDER=bold
# Bold
VITE_BOLD_API_KEY=R29XPBx3-iMagh7gy6cSenqptcmUTuRwQtz36J7XIMQ

# Site URL
VITE_PUBLIC_SITE_URL=http://localhost:5173  #https://www.mirandagourmetfood.com en producción


