VITE_PAYMENT_PROVIDER=bold # stripe | bold | wompi

# Stripe
VITE_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=

# Wompi (puedes dejar vacío por ahora)
VITE_WOMPI_PUBLIC_KEY=
WOMPI_PRIVATE_KEY=
WOMPI_INTEGRITY_KEY=
# Bold
VITE_BOLD_API_KEY=TU_LLAVE_DE_IDENTIDAD_PUBLICA_DE_BOLD

# Site URL
VITE_PUBLIC_SITE_URL=https://www.mirandagourmetfood.com   # o http://localhost:3000 en desarrollo


