@import "./global.css";

/* layout */
@import "../app/layout/navbar/app-navbar.css";
@import "../app/layout/shell/app-shell.css";
@import "../app/layout/footer/app-footer.css";
/* cart*/
@import "../features/cart/pages/cart.css";

/* pages */
@import "../features/catalog/pages/home/home.css";
@import "../features/catalog/pages/corporativos/corporativos.css";
@import "../features/catalog/pages/quote/quote.css";
/* modals */
@import "../features/catalog/components/service-modal.css"