@import "./global.css";

/* layout */
@import "../app/layout/navbar/app-navbar.css";
@import "../app/layout/shell/app-shell.css";
@import "../app/layout/footer/app-footer.css";

/* pages */
@import "../features/catalog/pages/home/home.css";
@import "../features/catalog/pages/corporativos/corporativos.css";
@import "../features/catalog/pages/quote/quote.css";
